<div>
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="about.html">About</a></li>
        <!-- <li><a href="">4</a></li> -->
    </ul>
    <ul class="socials">
        <li>
            <a href="https://www.instagram.com/foto.lindblom/?next=%2F", target="_blank">
                <img src="assets\images\instagramLogo.png" alt="insta">
            </a>
        </li>
        <li>
            <a href="mailto:foto.lindblom@gmail.com", target="_blank">
                <img src="assets\images\email.png" alt="insta">
            </a>
        </li>
    </ul>
    <div></div>
</div>
<p>Copyright &copy;2024; Designed by Rasmus Lindblom</p>