section.hero {
    height: calc(100vh - 40px);
    background-image: url("../images/SelfPortraitVertical.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    text-align: center;
    overflow: hidden;
}

@media (min-aspect-ratio: 1/1.5) {
    section.hero {
        background-image: url("../images/SelfPortraitHorizontal.jpg");
    }
}

section a {
    text-decoration: none;
}

section a h1 {
    font-size: 1.5em;
    display: inline;
    position: relative;
    top : 75%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

@media (min-aspect-ratio: 1/1) {
    section a h1 {
        font-size: 1.8em;
        top : 80%;
        padding: 10px;
        border-radius: 20px;
    }
}

section.contact {
    height: 50vh;
    background-image: url("../images/LandscapeVertical.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

@media (min-aspect-ratio: 1/1) {
    section.contact {
        background-image: url("../images/LandscapeHorizontal.jpg");
    }
}